@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    font-family: monospace;
    color: #fff;
    background-color: #24292F;
}

header img{
    display: flex;
    max-width: 16%;
    height: auto;
  Position: fixed;
}

header div {
margin:
}

header div span {
    display: block;
    width: 60px;
    height: 5px;margin: 4px 0px 4 auto;
    background-color: red;

}


body main {
    margin-left: 20vh;
}
main h2 {
    font-size: 30px;
    color: #DBFAE3;
    margin-left: ;
}

div img {
    height: 40%;
    width: 40%;
    margin-left: 20vh;
}


section div p {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}


.status li {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    text-indent: 10px;
    letter-spacing: -3px;
    word-spacing: -1px;
    font-size: 14px;
}

.git-commands div li {
    list-style-type: "⇢ ";
    margin-bottom: 2vh;
}

.git-commands {
    display: flex;
    flex-direction: column;
    margin-left: 70vh;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
header {
    text-align: center;
    font-size: x-large;
}

div.1 {
    float: left;
}

.command-left{
    }

.git-konzept{
    display: flex;
    flex-direction: column;
    margin-left: 70vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: x-large;
}